/*
Colors used:
Primary Color (Prussian Blue): #002642;
Secondary Color (Salsa Red): #FB3640;
Active Color (dark purple): #553555;
*/

* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: white;
    color: #002642;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 10px 25px 15px 20px;
    margin: 0px;
    text-align: center;
}
ul {
    background-color: white;
    color: #002642;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 0 0 0 20px;
    margin: 0px;
    text-align: left;
}
/*for navigation menu*/
nav > ul {
  list-style-type: none;
  padding: 10;
  text-align: center;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  font-weight: 700;
  color: #FB3640;
  text-decoration:none;
}
nav > ul > li > a:visited {
  color: #553555;
}
nav > ul > li > a:active {
  color: #fb3640;
}
nav > ul > li > a:hover {
  color: #002642;
  text-decoration:underline;
}
/*end nav menu style*/
/*animation attempts*/
@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}
}
.sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
/*end animation attempts*/
ol {
    background-color: white;
    color: #002642;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding: 10px 25px 15px 20px;
    margin: 5px;
    text-align: center;
}
h1,
h2,
h3,
h4 {
    font-family: "Raleway", sans-serif;
    line-height: 1.4em;
    font-weight: 500;
    margin: 0 0 20px;
    text-transform:capitalize;
}
h1,
h3 {
    background-color: #002642;
    padding: 10px 5px 15px 5px;
    margin: 0 0 20px;
}
h1 {
    color: #fb3640;
    font-size: 3.5rem;
    padding: 10px 5px 15px 5px;
    text-align: center;
    margin: 0 0 20px;
    text-align: center;
    position: relative;

    -webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
}
h2 {
    background-color: white;
    color: #002642;
    font-size: 2.3rem;
    text-decoration: underline;
    padding: 20px 5px 10px 5px;
    text-align: center;
}
h3 {
    color: #fb3640;
    font-size: 2rem;
    padding: 10px;
    padding: 10px 5px 10px 5px;
    text-align: center;
}
h4 {
    background-color: white;
    color: #002642;
    font-size: 1.6rem;
    margin: 0px;
}
p{
  margin-bottom: 20px;
}
footer {
    background-color: #002642;
    color: white;
    font-size: 16px;
    margin: 0px;
    text-align: center;
}
img {
    width: 100%;
}
a {
    color: #fb3640;
    text-decoration: underline;
    color: #fb3640;
    transition: 0.2s underline;
}
a:focus,
a:hover {
    color: #002642;
    text-decoration: underline;
}
a:active {
    /* selected link */
    color: #553555;
}
.button {
    display: inline-block;
    background-color: #fb3640;
    color: #002642;
    font-weight: 600;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #fb3640;
    transition: 0.2s opacity;
}
.button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: underline;
}
.button.contact {
    background-color: transparent;
    color: #fb3640;
    text-transform: uppercase;
    border: 2px solid #fb3640;
}
.button.contact:hover {
    background-color: #002642;
    color: #fb3640;
    border: 2px solid #fb3640;
}
header {
    background-color: white;
    padding: 10px;
    margin: 10px 5px 15px 5px;
    position: relative;
}

.logo{
  max-width: 250px;
}
.container{
  padding: 0 15px;
}
.row {
  margin-bottom: 15px;
}
.project-text {
  margin-bottom: 0 15px;
}
#intro > p {
  text-align: center;
  font-size: 16;
}
footer .container {
  padding-top: 30px;
}
.social {
  padding: 20px 0;
}
.social a {
  width: 50px;
  margin: 0 10px;
  display: inline-block;
}
.copyright {
  margin-bottom: 0px;
}
.ordered-list-left{
  text-align: left;
}
.berlin-illustration{
  width: 100%;
  max-width: 100%;
  height: auto;
}
.intrepidcover {
  max-width: 100%;
  height: auto;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6 {
  width: 50%;
}
  header {
  text-align: unset;
  padding: 0px;

  }
  [class*="col-"] {
  float: left;
}
* {
  padding-right: 10px;
  padding-left: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
  #intro h1{
    font-size: 18px;
  }
  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  body {
    font-size: 18px;
  }
  #intro span {
  display: block;
}
}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
header {
  padding: 0px;
  margin-bottom: 0px;
  text-align: unset;
}
.col-lg-7 {
width: 75%;
}
.col-lg-5 {
width: 75%;
}
h1{
  font-size: 24px;
  padding-top: 25px;
  padding-right: 10px;
}
nav > ul {
  padding-top: 50px;
  padding-right: 25px;
}
body {
  font-size: 18px;
}
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  body{
    font-size: 18px;
  }
  .container {
    max-width: 1200px;
    margin-left: auto;
  margin-right: auto;
  }
  .container-wide {
    max-width: 1200px;
    margin-left: auto;
  margin-right: auto;
  }
  #intro span {
  display: block;
}
h1 {
  font-size: 24px;
}
}
